<body ng-app="datatableApp" ng-controller="TreeViewController" ng-cloak>
    <span><b> Using Angular treeview<br></b></span>
    <div style="display:table-row; width:500px;">
        <div style="display:table-cell; width:250px;">
            <div style="margin:10px 5px 30px 5px; padding:10px; background-color:#EEEEEE; border-radius:5px; font:12px Tahoma;"> <span><b>First Tree's Selected Node</b> : <br>{{tree01.currentNode.roleName}}</span><br>
<span><b>First Tree's Selected Node</b> : <br>{{tree01.checkedNodes}}</span>

            </div>
        </div>
        <div style="display:table-cell; width:250px;">
            <div style="margin:10px 5px 30px 5px; padding:10px; background-color:#EEEEEE; border-radius:5px; font:12px Tahoma;"> <span><b>Second Tree's Selected Node</b> : <br>{{tree02.currentNode.roleName}}</span><br>
<!-- <span><b>Second Tree's Selected Node</b> : <br>{{tree02.checkedNodes}}</span> -->

            </div>
        </div>
    </div>
   <!-- We can check how this work in the script -->
    <div style="display:table-row; width:500px;">
        <div style="display:table-cell; width:250px;">
            <!-- FIRST TREE -->
            <div data-angular-treeview="true" data-tree-id="tree01" data-tree-model="roleList1" data-node-id="roleId" data-node-label="roleName" data-node-children="children" , data-checkbox-support="true"></div>
        </div>
        <div style="display:table-cell; width:250px;">
            <!-- SECOND TREE -->
            <div data-angular-treeview="true" data-tree-id="tree02" data-tree-model="roleList2" data-node-id="roleId" data-node-label="roleName" data-node-children="children" , data-checkbox-support="false"></div>
        </div>
    </div>
</body>